@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
} */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(197, 191, 191);
    border-radius: 10px;
  }

  .no-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #9f9dad;
  }

  @media (max-width: 700px) {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}
